# To be placed in /etc/cloud/cloud.cfg.d/01_runs_on.cfg
# https://docs.aws.amazon.com/linux/al2023/ug/cloud-init.html
# https://cloudinit.readthedocs.io/en/latest/explanation/boot.html
# https://www.digitalocean.com/community/questions/cloud-init-change-order-of-module-execution
# systemd-analyze critical-chain

users: []

# The modules that run in the 'init' stage
cloud_init_modules:
  - migrator
  - seed_random
  - bootcmd
  - write_files
  - growpart
  - resizefs
  - disk_setup
  - mounts
  - set_hostname
  - update_hostname
  - update_etc_hosts
  - ca_certs
  - rsyslog
  - users_groups
  - ssh

# The modules that run in the 'config' stage
cloud_config_modules:
  # - wireguard
  # - snap
  # - ubuntu_autoinstall
  # - ssh_import_id
  # - keyboard
  - locale
  # - set_passwords
  # - grub_dpkg
  - apt_pipelining
  - apt_configure
  # - ubuntu_advantage
  - ntp
  - timezone
  # - disable_ec2_metadata
  # - runcmd
  # - byobu

# The modules that run in the 'final' stage
cloud_final_modules:
  - scripts_user
  # - package_update_upgrade_install
  # - fan
  # - landscape
  # - lxd
  - ubuntu_drivers
  - write_files_deferred
  # - puppet
  # - chef
  # - ansible
  # - mcollective
  # - salt_minion
  - reset_rmc
  # - rightscale_userdata
  # - scripts_vendor
  # - scripts_per_once
  # - scripts_per_boot
  # - scripts_per_instance
  - ssh_authkey_fingerprints
  - keys_to_console
  # - install_hotplug
  # - phone_home
  - final_message
  - power_state_change
