name: Build
run-name: Build ${{ inputs.image_id }}

on:
  workflow_dispatch:
    inputs:
      image_id:
        required: true
        type: string
  workflow_call:
    inputs:
      image_id:
        required: true
        type: string
    outputs:
      ami_name:
        description: "The name of the built AMI"
        value: ${{ jobs.build.outputs.ami_name }}
      ami_id:
        description: "The ID of the built AMI"
        value: ${{ jobs.build.outputs.ami_id }}

jobs:
  build:
    name: Build ${{ inputs.image_id }}
    runs-on: ubuntu-latest
    env:
      SUBNET_ID: ${{ secrets.SUBNET_ID }}
    outputs:
      ami_name: ${{ steps.build.outputs.ami_name }}
      ami_id: ${{ steps.build.outputs.ami_id }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.ref_name }}
      - uses: webfactory/ssh-agent@72c0bfd31ab22a2e11716951e3f107a9647dc97e
        with:
          ssh-private-key: ${{ secrets.PRIVATE_KEY_FOR_INTEGRATIONS }}
      - run: git log --oneline -n 1
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2.2
          bundler-cache: true
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - run: bundle exec bin/build --image-id ${{ inputs.image_id }}
        id: build
        timeout-minutes: 180