name: Test Windows
run-name: Test Windows ${{ inputs.ami_id }}

on:
  workflow_dispatch:
    inputs:
      ami_id:
        required: true
        type: string
      instance_family:
        required: false
        type: string
        default: "m7"
      extras:
        required: false
        type: string
        default: ""
  workflow_call:
    inputs:
      ami_id:
        required: true
        type: string
      index:
        required: true
        type: number
      instance_family:
        required: false
        type: string
        default: "m7"
      extras:
        required: false
        type: string
        default: ""

jobs:
  test:
    runs-on:
      - runs-on=${{ github.run_id }}
      - family=${{ inputs.instance_family || 'm7' }}
      - cpu=2+4
      - disk=large
      - ami=${{ inputs.ami_id }}
      - extras=${{ inputs.extras }}
    env:
      FILENAME: random-file-${{ inputs.ami_id }}-${{github.run_id}}-${{github.run_attempt }}-${{ inputs.index }}
    steps:
      - uses: runs-on/action@v2
        with:
          show_env: true
      - name: Ensure code can be checked out
        uses: actions/checkout@v4
      - name: Docker
        run: docker run hello-world
      - name: envinfo
        run: npx envinfo
      - name: rustup
        run: rustup --version
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: "Build and push image (type=gha)"
        uses: docker/build-push-action@v4
        with:
          context: "vote"
          push: false
          tags: test
          cache-from: type=gha
          cache-to: type=gha,mode=max